body {
    background-color: rgb(95, 130, 161)
}

.courier-prime-regular {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}

h1 {
    font-family: "Courier Prime", monospace;
    text-align: center;
}

h2 {
    font-family: "Courier Prime", monospace;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

p {
    font-family: "Courier Prime", monospace;
    text-align: center;
}

.button {
    display: block;
    background-color: rgb(59, 132, 196);
    font-family: "Courier Prime", monospace;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    border: 4px solid rgb(16, 37, 55);
    border-radius: 10px;
    height: 30%;
}

.button:hover {
    border: 4px solid rgb(16, 37, 55);
    cursor: pointer;
    box-shadow: 1px 10px 98px -4px rgb(00, 00, 00);
}